@media (max-width: 1360px) {
  .hero-content h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 35px;
  }

  .hero-section {
    padding: 80px 0;
  }

  .services-section {
    padding: 0 0 80px;
  }

  .portfolio-section {
    padding: 80px 0;
  }

  .pricing-section {
    padding: 0 0 80px;
  }

  .cta-section {
    padding: 50px 0 60px;
  }

  .main-footer {
    padding: 60px 0 0;
  }

  .dark-card-wrapper {
    padding: 60px 60px;
  }

  .price-content h2 {
    margin-bottom: 25px;
  }

  .feature-item {
    gap: 5px;
  }

  .icon-box {
    margin-bottom: 8px;
  }

  .price-amount {
    font-size: 40px;
  }

  .pricing-cta-card {
    padding: 28px;
  }
}






@media (max-width: 1024px) {
  .hero-section {
    padding: 60px 0;
  }

  .services-section {
    padding: 0 0 60px;
  }

  .portfolio-section {
    padding: 60px 0;
  }

  .pricing-section {
    padding: 0 0 60px;
  }

  .cta-section {
    padding: 30px 0 40px;
  }

  .hero-section {
    padding: 60px 0;
  }

  .main-footer {
    padding: 40px 0 0;
  }

  .dark-card-wrapper {
    padding: 40px 40px;
  }

  .services-header {
    margin-bottom: 30px;
  }

  .portfolio-header {
    margin-bottom: 30px;
  }

  .cta-section p {
    margin-bottom: 24px;
  }

  .btn-contact-now {
    padding: 12px 20px;
  }

  .dark-card-wrapper {
    gap: 40px;
  }

  .pricing-cta-card {
    width: 75%;
  }


}

@media (max-width: 992px) {
  .hero-content p {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .hero-content h1 {
    margin-bottom: 7px;
  }

  .badge {
    margin-bottom: 15px;
  }




}
@media (max-width:700px){
  .footer-grid {gap: 30px;flex-direction: column;
  }
  .footer-col h4 {
	margin-bottom: 10px;
}
.footer-links li {
	margin-bottom: 6px;
}
.social-icon {
	width: 30px;
	height: 30px;
}
.main-footer {
	padding: 20px 0 0;
}
.footer-description {
	margin: 5px 0 10px;
}
.footer-grid {
	padding: 0 0 22px;
}
}

@media (max-width: 576px) {
  .pricing-cta-card {
    width: 100%;
  }
  .price-amount {
	font-size: 29px;
}
}

@media (max-width: 480px) {
  .feature-item h4 {
	font-size: 17px;
}
  .price-amount {
	margin-bottom: 22px;
}
  .check-list {
	margin-bottom: 30px;
}
  .pricing-cta-card span {
	margin-bottom: 5px;
  }
  .pricing-cta-card p.starts {
	margin-bottom: 2px;
}
  .portfolio-section {
	padding: 40px 0 26px;
}
  .hero-section {
    padding: 40px 0;
  }

  .hero-section {
    padding: 40px 0;
  }

  .services-section {
    padding: 0 0 40px;
  }

  .portfolio-section {
    padding: 40px 0;
  }

  .pricing-section {
    padding: 0 0 40px;
  }

  .cta-section {
    padding: 30px 0 40px;
  }

  .main-footer {
    padding: 40px 0 0;
  }

  .dark-card-wrapper {
    padding: 40px 40px;
  }

  .hero-content h1 {
    font-size: 22px;
  }

  a {
    font-size: 15px;
  }

  h2 {
    font-size: 21px;
  }

  .services-header {
    margin-bottom: 20px;
  }

  .service-card h3 {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .service-card {
    padding: 20px 20px;
  }

  .service-card p {
    line-height: 1.3;
  }
}